**/node_modules
**/dist
**/.git
**/.env
**/.env.*
**/coverage
**/.nyc_output
**/playwright-report
**/test-results
**/*.log
**/.vscode
**/.idea
**/.DS_Store
**/Thumbs.db
**/keys
**/*.pem
**/*.key
**/*.cert
backend/test
